.NumberOfMines {
  height: 25px;
  width: 37.5px;

  display: flex;
}
.number {
    height: 24px;
    width: 12.5px; 
  
    background-repeat: no-repeat;
    background: url("../../../img/sprite.png");
  }
  