body {
  background-repeat: no-repeat;
  background: rgb(45, 52, 54);
  background: linear-gradient(
    184deg,
    rgba(45, 52, 54, 1) 0%,
    rgba(75, 127, 147, 1) 100%
  ); 

  display: flex;
  justify-content: center;
  align-items: center;
 
} 